body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e7e7de;
}

#main {
    border: solid 3px rgb(77, 74, 74);
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:  #607848;
}

#container {
    display: grid;
    grid-template-columns: repeat(4,100px);
    grid-template-rows: minmax(100px, auto) repeat(5,80px);
    margin: 5px;
    gap: 5px;
    border-color: #607848;
}

#display {
    grid-column: 1/-1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    background-color: #d4d6d6;
    border-radius: 15px;
    padding: 5px;
    font-family: monospace;
    font-size: 3em;
    text-shadow: 1.3px 1.3px black; 
}

#display:hover {
    background-color: #f6f9f9;
}

button {
    font-family: monospace;
    font-size: 2em;
    border-radius: 15px;
    border: none;
}

#zero {
    grid-column: span 2;
}

.function {
    background-color: #9bba5e;
}

.function:hover {
    background-color: #c1e676;
}

.digit {
    background-color: #f0f0d8;
}

.digit:hover {
    background-color: #ffffe4;
}

.operator,
.equal {
    background-color: #bb8c8c;
}

.operator:hover,
.equal:hover {
    background-color: #e6adad;
}

.firstNumber {

}

.secondNumber {
    
}